@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format("embedded-opentype"), url('../fonts/icomoon.ttf') format("truetype"), url('../fonts/icomoon.woff') format("woff"), url('../fonts/icomoon.svg#icomoon') format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../sass/font.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 5em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/font.scss */
.icon-earth:before {
  content: "\e600";
}

/* line 29, ../sass/font.scss */
.icon-screen:before {
  content: "\e601";
}

/* line 32, ../sass/font.scss */
.icon-quill:before {
  content: "\e602";
}
